{{!-- views/albums/album-edit.hbs --}}

<h2>Edit the album: {{album.title}}</h2>

<form action="/albums/{{album._id}}/edit" method="post">
  <label> Title:
    <input type="text" name="title" value="{{album.title}}" />
  </label>

  <label> Artist:
    <input type="text" name="artist" value="{{album.artist}}" />
  </label>

  <label> Label:
    <input type="text" name="label" value="{{album.label}}" />
  </label>

  <label> Genre:
    <input type="text" name="genre" value="{{album.genre}}" />
  </label>

  <button>Save changes</button>
</form>