{{!-- views/albums/album-list.hbs --}}
{{!-- general nav bar settings from layout.hbs --}}
<br>
<h1>Album List</h1>
<br>

{{!-- since we passed allTheAlbumsFromDB as `albums`,
we can iterate over it here with #each--}}

<div class="container">
  <div class="row">
    <div class="col-5">
      <h3>Title</h3>
    </div>
    <div class="col">
      <h3>Artist</h3>
    </div>
    <div class="col">
      <h3>Label</h3>
    </div>
    <div class="col">
      <h3>Genre</h3>
    </div>
    <div class="col-1">   {{!-- to keep the headline above the data columns --}}
      <h3>action</h3>     {{!-- one column with col-3 is no good at re-scaling --}}
    </div>
    <div class="col-1">
      <h3></h3>
    </div>
    <div class="col-1">
      <h3></h3>
    </div>
    <div class="col-1">
      <h3></h3>
    </div>

  </div>
</div>



{{#each albums}}
<div class="container">
    <div class="row">
        <div class="col-5">
            <h5>{{title}}</h5>
        </div>
        <div class="col">
            <p>{{artist}}</p> {{!-- additional album property --}}
        </div>
        <div class="col">
            <p>{{label}}</p>  {{!-- additional album property --}}
        </div>
        <div class="col">
            <p>{{genre}}</p>  {{!-- additional album property --}}
        </div>
        <div class="col-1">
            <form action="/albums/{{_id}}" method="GET">
                <button>Details</button>
            </form>
        </div>
        <div class="col-1">
            <form action="/albums/{{_id}}/edit" method="GET">
                <button>Edit</button>
            </form>
        </div>
        <div class="col-1">
            <form action="/albums/{{_id}}/delete" method="POST">
                <button>Delete</button>
            </form> 
        </div>
    </div>
</div>
{{/each}}