{{!-- views/albums/album-details.hbs --}}
{{!-- general nav bar settings from layout.hbs --}}

<h1>{{album.title}}</h1>
<hr>
<p>Title: {{album.title}}</p>
<p>Artist: {{album.artist}}</p>
<p>Label: {{album.label}}</p>
<p>Genre: {{album.genre}}</p>
<hr>

<form action="/albums" method="GET">
    <button>Back</button>
</form> 
